.html
{
	background-color: #E6E7EF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 859px;
	margin-left: auto;
	margin-right: auto;
}

#u69
{
	z-index: 3;
	width: 1160px;
	padding-bottom: 8px;
	left: -100px;
}

#ppu278
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: -10px;
	left: 110px;
}

#pu278
{
	width: 0.01px;
	margin-left: 11px;
	position: relative;
}

#u278
{
	z-index: 41;
	width: 244px;
	height: 130px;
	margin-right: -10000px;
}

#u285-10
{
	z-index: 42;
	width: 250px;
	min-height: 45px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 334px;
}

#menuu107
{
	z-index: 4;
	width: 766px;
	margin-top: 5px;
}

#u1174
{
	width: 86px;
	min-height: 27px;
	margin-right: -10000px;
}

#u1175
{
	width: 85px;
	padding-bottom: 10px;
}

#u1175:hover
{
	width: 86px;
	min-height: 0px;
	margin: 0px 1px 0px 0px;
}

#u1175:active
{
	width: 86px;
	min-height: 0px;
	margin: 0px 1px 0px 0px;
}

#u1175.MuseMenuActive
{
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u1177-4
{
	width: 38px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
	left: 23px;
}

#u1175:hover #u1177-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1175:active #u1177-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1242
{
	width: 103px;
	min-height: 27px;
	margin-right: -10000px;
	left: 88px;
}

#u1245
{
	width: 102px;
	padding-bottom: 10px;
}

#u1245:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px 1px 0px 0px;
}

#u1245:active
{
	width: 103px;
	min-height: 0px;
	margin: 0px 1px 0px 0px;
}

#u1245.MuseMenuActive
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u1248-4
{
	width: 55px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
	left: 23px;
}

#u1175.MuseMenuActive #u1177-4,#u1245:hover #u1248-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1245:active #u1248-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1235
{
	width: 113px;
	min-height: 27px;
	margin-right: -10000px;
	left: 193px;
}

#u1238
{
	width: 112px;
	padding-bottom: 10px;
}

#u1238:hover
{
	width: 113px;
	min-height: 0px;
	margin: 0px 1px 0px 0px;
}

#u1238:active
{
	width: 113px;
	min-height: 0px;
	margin: 0px 1px 0px 0px;
}

#u1238.MuseMenuActive
{
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u1241-4
{
	width: 65px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
	left: 23px;
}

#u1245.MuseMenuActive #u1248-4,#u1238:hover #u1241-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1238:active #u1241-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1228
{
	width: 215px;
	min-height: 27px;
	margin-right: -10000px;
	left: 308px;
}

#u1231
{
	width: 214px;
	padding-bottom: 10px;
}

#u1231:hover
{
	width: 215px;
	min-height: 0px;
	margin: 0px 1px 0px 0px;
}

#u1231:active
{
	width: 215px;
	min-height: 0px;
	margin: 0px 1px 0px 0px;
}

#u1231.MuseMenuActive
{
	width: 214px;
	min-height: 0px;
	margin: 0px;
}

#u1234-4
{
	width: 168px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
	left: 23px;
}

#u1238.MuseMenuActive #u1241-4,#u1231:hover #u1234-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1231:active #u1234-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1221
{
	width: 125px;
	min-height: 27px;
	margin-right: -10000px;
	left: 525px;
}

#u1224
{
	width: 124px;
	padding-bottom: 10px;
}

#u1224:hover
{
	width: 125px;
	min-height: 0px;
	margin: 0px 1px 0px 0px;
}

#u1224:active
{
	width: 125px;
	min-height: 0px;
	margin: 0px 1px 0px 0px;
}

#u1224.MuseMenuActive
{
	width: 124px;
	min-height: 0px;
	margin: 0px;
}

#u1227-4
{
	width: 78px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
	left: 23px;
}

#u1231.MuseMenuActive #u1234-4,#u1224:hover #u1227-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1224:active #u1227-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1200
{
	width: 114px;
	min-height: 27px;
	margin-right: -10000px;
	left: 652px;
}

#u1203
{
	width: 113px;
	padding-bottom: 10px;
}

#u1203:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px 1px 0px 0px;
}

#u1203:active
{
	width: 114px;
	min-height: 0px;
	margin: 0px 1px 0px 0px;
}

#u1203.MuseMenuActive
{
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u1206-4
{
	width: 67px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
	left: 23px;
}

#u1224.MuseMenuActive #u1227-4,#u1203:hover #u1206-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1203:active #u1206-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1203.MuseMenuActive #u1206-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#pu286-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 890px;
}

#u286-4
{
	z-index: 52;
	width: 160px;
	min-height: 21px;
}

#u286-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 0px;
}

#u904-4
{
	z-index: 56;
	width: 160px;
	min-height: 21px;
	margin-top: 3px;
}

#u904-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 3px 0px 0px;
}

#u1152
{
	z-index: 102;
	width: 960px;
	height: 150px;
	-pie-box-shadow: 3px 3px 4px #CCCCCC;
	-moz-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 3px 3px 4px -1px rgba(0, 0, 0, 0.2);
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 0px 0px 5px 5px ;
	-webkit-border-radius: 0px 0px 5px 5px ;
	-khtml-border-radius: 0px 0px 5px 5px ;
	border-radius: 0px 0px 5px 5px ;
	position: relative;
	background: #FFFFFF url("../images/busqueda%20de%20tracking%201.jpg") no-repeat left top;
}

#pu1765
{
	width: 0.01px;
	margin-top: 10px;
	position: relative;
}

#u1765
{
	z-index: 187;
	width: 300px;
	min-height: 254px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu1116-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 337px;
}

#u1116-4
{
	z-index: 98;
	width: 333px;
	min-height: 18px;
	line-height: 22px;
	color: #252E69;
	font-size: 18px;
	margin-left: 127px;
	position: relative;
}

#accordionu1446
{
	z-index: 103;
	width: 586px;
	margin-top: 18px;
	position: relative;
}

#u1451
{
	z-index: 104;
	width: 586px;
	position: relative;
}

#u1452-4
{
	z-index: 105;
	width: 574px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #252E69;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u1452-4:hover
{
	background-color: #EAD9C5;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 574px;
	margin: 0px;
}

#u1452-4:active
{
	background-color: #FDBE74;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 574px;
	margin: 0px;
}

#u1452-4:hover p
{
	color: #252E69;
	visibility: inherit;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
}

#u1452-4:active p
{
	color: #252E69;
	visibility: inherit;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
}

#u1453
{
	z-index: 109;
	width: 584px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u1445
{
	z-index: 110;
	width: 489px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 48px;
}

#u1426
{
	z-index: 111;
	width: 489px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u1107-4
{
	z-index: 113;
	width: 489px;
	min-height: 18px;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u1031
{
	z-index: 112;
	width: 408px;
	min-height: 378px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 41px;
	margin-top: 11px;
	position: relative;
}

#u1033
{
	z-index: 117;
	width: 408px;
	height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 379px;
	left: 40px;
}

#u1447
{
	z-index: 118;
	width: 586px;
	position: relative;
}

#u1448-4
{
	z-index: 119;
	width: 574px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #252E69;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u1448-4:hover
{
	background-color: #EAD9C5;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 574px;
	margin: 0px;
}

#u1448-4:active
{
	background-color: #FDBE74;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 574px;
	margin: 0px;
}

#u1448-4:hover p
{
	color: #252E69;
	visibility: inherit;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
}

#u1448-4:active p
{
	color: #252E69;
	visibility: inherit;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
}

#u1449
{
	z-index: 123;
	width: 584px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	position: relative;
}

#u1427
{
	z-index: 124;
	width: 572px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#u1063-7
{
	z-index: 125;
	width: 377px;
	min-height: 35px;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	margin-left: 87px;
	position: relative;
}

#pu1064
{
	width: 0.01px;
	margin-top: 9px;
	position: relative;
}

#u1064
{
	z-index: 132;
	width: 264px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 133px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/usps%20instrucciones%202.jpg") no-repeat left top;
}

#u1072
{
	z-index: 135;
	width: 232px;
	height: 52px;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 13px;
}

.ie #u1072
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1071
{
	z-index: 133;
	width: 235px;
	height: 116px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 112px;
	left: 293px;
	background: #FFFFFF url("../images/usps%20instrucciones%202.jpg") no-repeat left top;
}

#u1055
{
	z-index: 134;
	width: 297px;
	height: 165px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 275px;
	background: #FFFFFF url("../images/usps%20instrucciones.jpg") no-repeat left top;
}

#u1455
{
	z-index: 136;
	width: 586px;
	position: relative;
}

#u1456-4
{
	z-index: 137;
	width: 574px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #252E69;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u1456-4:hover
{
	background-color: #EAD9C5;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 574px;
	margin: 0px;
}

#u1456-4:active
{
	background-color: #FDBE74;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 574px;
	margin: 0px;
}

#u1456-4:hover p
{
	color: #252E69;
	visibility: inherit;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
}

#u1456-4:active p
{
	color: #252E69;
	visibility: inherit;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
}

#u1457
{
	z-index: 141;
	width: 584px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 1px;
	position: relative;
}

#u1425
{
	z-index: 142;
	width: 428px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 78px;
}

#u1096-7
{
	z-index: 145;
	width: 428px;
	min-height: 35px;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u1082
{
	z-index: 143;
	width: 368px;
	height: 205px;
	border-style: none;
	border-color: transparent;
	margin-left: 29px;
	margin-top: 3px;
	position: relative;
	background: #FFFFFF url("../images/lasership%20instrucciones.jpg") no-repeat left top;
}

#u1089
{
	z-index: 144;
	width: 340px;
	height: 175px;
	border-style: none;
	border-color: transparent;
	margin-left: 42px;
	margin-top: 10px;
	position: relative;
	background: #FFFFFF url("../images/lasership%20instrucciones.jpg") no-repeat right bottom;
}

#u1480
{
	z-index: 152;
	width: 586px;
	position: relative;
}

#u1481-4
{
	z-index: 153;
	width: 574px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #252E69;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u1481-4:hover
{
	background-color: #EAD9C5;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 574px;
	margin: 0px;
}

#u1481-4:active
{
	background-color: #FDBE74;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 574px;
	margin: 0px;
}

#u1481-4:hover p
{
	color: #252E69;
	visibility: inherit;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
}

#u1481-4:active p
{
	color: #252E69;
	visibility: inherit;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
}

#u1482
{
	z-index: 157;
	width: 584px;
	height: 119px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u1484
{
	z-index: 158;
	width: 586px;
	position: relative;
}

#u1485-4
{
	z-index: 159;
	width: 574px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #252E69;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u1485-4:hover
{
	background-color: #EAD9C5;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 574px;
	margin: 0px;
}

#u1485-4:active
{
	background-color: #FDBE74;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 574px;
	margin: 0px;
}

#u1485-4:hover p
{
	color: #252E69;
	visibility: inherit;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
}

#u1485-4:active p
{
	color: #252E69;
	visibility: inherit;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
}

#u1486
{
	z-index: 163;
	width: 584px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 2px;
	position: relative;
}

#u1429
{
	z-index: 164;
	width: 489px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 48px;
}

#u1108-4
{
	z-index: 166;
	width: 489px;
	min-height: 18px;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#pu1098
{
	width: 0.01px;
	margin-left: 88px;
	margin-top: 12px;
	position: relative;
}

#u1098
{
	z-index: 165;
	width: 308px;
	min-height: 236px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 3px;
}

#u1109
{
	z-index: 170;
	width: 315px;
	height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 210px;
}

#u1487
{
	z-index: 171;
	width: 586px;
	position: relative;
}

#u1488-4
{
	z-index: 172;
	width: 574px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #252E69;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u1488-4:hover
{
	background-color: #EAD9C5;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 574px;
	margin: 0px;
}

#u1488-4:active
{
	background-color: #FDBE74;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 574px;
	margin: 0px;
}

#u1452-4.AccordionPanelTabOpen,#u1448-4.AccordionPanelTabOpen,#u1456-4.AccordionPanelTabOpen,#u1481-4.AccordionPanelTabOpen,#u1485-4.AccordionPanelTabOpen,#u1488-4.AccordionPanelTabOpen
{
	background-color: #BEC1D5;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 574px;
	margin: 0px;
}

#u1488-4:hover p
{
	color: #252E69;
	visibility: inherit;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
}

#u1488-4:active p
{
	color: #252E69;
	visibility: inherit;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
}

#u1452-4.AccordionPanelTabOpen p,#u1448-4.AccordionPanelTabOpen p,#u1456-4.AccordionPanelTabOpen p,#u1481-4.AccordionPanelTabOpen p,#u1485-4.AccordionPanelTabOpen p,#u1488-4.AccordionPanelTabOpen p
{
	color: #252E69;
	visibility: inherit;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
}

#u1489
{
	z-index: 176;
	width: 584px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 1px;
	position: relative;
}

#u1439
{
	z-index: 177;
	width: 374px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 105px;
}

#u1110-7
{
	z-index: 179;
	width: 374px;
	min-height: 18px;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u1100
{
	z-index: 178;
	width: 237px;
	height: 244px;
	border-style: none;
	border-color: transparent;
	margin-left: 53px;
	margin-top: 11px;
	position: relative;
	background: #FFFFFF url("../images/fedex%20instrucciones.jpg") no-repeat left top;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u1588
{
	z-index: 186;
	width: 496px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 390px;
	margin-top: 27px;
	position: relative;
}

#pu71
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u71
{
	z-index: 2;
	width: 1160px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u69_align_to_page,#u71_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#pu1611-17
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 111px;
}

#u1611-17
{
	z-index: 76;
	width: 318px;
	min-height: 135px;
	margin-left: 27px;
}

#u188-4
{
	z-index: 60;
	width: 353px;
	min-height: 42px;
	padding-top: 6px;
	margin-top: 4px;
}

#u1614
{
	z-index: 93;
	width: 50px;
	height: 50px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 555px;
}

#pu189-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 831px;
}

#u189-4
{
	z-index: 64;
	width: 126px;
	min-height: 4px;
	margin-left: 87px;
}

#u189-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 4px;
	margin: 0px 0px 0px 87px;
}

#u1813-4
{
	z-index: 94;
	width: 205px;
	min-height: 22px;
	margin-top: 40px;
}

#u395-4
{
	z-index: 68;
	width: 87px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 951px;
}

#u395-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 35px -10000px 0px 0px;
}

#u1577-4
{
	z-index: 72;
	width: 124px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 55px;
	left: 916px;
}

#u1577-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 55px -10000px 0px 0px;
}

