#u69
{
	background: transparent url("../images/u69-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(24%, rgba(244, 245, 253, 0.3)),to(rgba(162, 167, 197, 0.89)));
	background: -webkit-linear-gradient(top,rgba(244, 245, 253, 0.3) 24%,rgba(162, 167, 197, 0.89) );
	background: -moz-linear-gradient(top,rgba(244, 245, 253, 0.3) 24%,rgba(162, 167, 197, 0.89) );
	background: -ms-linear-gradient(top,rgba(244, 245, 253, 0.3) 24%,rgba(162, 167, 197, 0.89) );
	background: -o-linear-gradient(top,rgba(244, 245, 253, 0.3) 24%,rgba(162, 167, 197, 0.89) );
	background: linear-gradient(to bottom,rgba(244, 245, 253, 0.3) 24%,rgba(162, 167, 197, 0.89) );
	border-style: none;
	border-color: transparent;
	position: relative;
}

#u278
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/4%20cuarto%20puto%20intento.png") no-repeat center center;
}

#u285-10
{
	color: #252E69;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u285-4
{
	color: #0000FF;
}

#u1175
{
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	border-width: 0px 1px 0px 0px;
}

#u1175:hover
{
	background: #252E69 url("../images/u1175-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#BEC1D5),color-stop(46%, #252E69));
	background: -webkit-linear-gradient(top,#BEC1D5 ,#252E69 46%);
	background: -moz-linear-gradient(top,#BEC1D5 ,#252E69 46%);
	background: -ms-linear-gradient(top,#BEC1D5 ,#252E69 46%);
	background: -o-linear-gradient(top,#BEC1D5 ,#252E69 46%);
	background: linear-gradient(to bottom,#BEC1D5 ,#252E69 46%);
	border-style: none;
	border-color: transparent;
}

#u1175:active
{
	background: #818395 url("../images/u1175-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(54%, #252E69),to(#818395));
	background: -webkit-linear-gradient(top,#252E69 54%,#818395 );
	background: -moz-linear-gradient(top,#252E69 54%,#818395 );
	background: -ms-linear-gradient(top,#252E69 54%,#818395 );
	background: -o-linear-gradient(top,#252E69 54%,#818395 );
	background: linear-gradient(to bottom,#252E69 54%,#818395 );
	border-style: none;
	border-color: transparent;
}

#u1177-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #252E69;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u1175:hover #u1177-4 p
{
	color: #BEC1D5;
	visibility: inherit;
}

#u1175:active #u1177-4 p
{
	color: #BEC1D5;
	visibility: inherit;
}

#u1245
{
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	border-width: 0px 1px 0px 0px;
}

#u1245:hover
{
	background: #252E69 url("../images/u1175-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#BEC1D5),color-stop(46%, #252E69));
	background: -webkit-linear-gradient(top,#BEC1D5 ,#252E69 46%);
	background: -moz-linear-gradient(top,#BEC1D5 ,#252E69 46%);
	background: -ms-linear-gradient(top,#BEC1D5 ,#252E69 46%);
	background: -o-linear-gradient(top,#BEC1D5 ,#252E69 46%);
	background: linear-gradient(to bottom,#BEC1D5 ,#252E69 46%);
	border-style: none;
	border-color: transparent;
}

#u1245:active
{
	background: #818395 url("../images/u1175-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(54%, #252E69),to(#818395));
	background: -webkit-linear-gradient(top,#252E69 54%,#818395 );
	background: -moz-linear-gradient(top,#252E69 54%,#818395 );
	background: -ms-linear-gradient(top,#252E69 54%,#818395 );
	background: -o-linear-gradient(top,#252E69 54%,#818395 );
	background: linear-gradient(to bottom,#252E69 54%,#818395 );
	border-style: none;
	border-color: transparent;
}

#u1248-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #252E69;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u1245:hover #u1248-4 p
{
	color: #BEC1D5;
	visibility: inherit;
}

#u1245:active #u1248-4 p
{
	color: #BEC1D5;
	visibility: inherit;
}

#u1238
{
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	border-width: 0px 1px 0px 0px;
}

#u1238:hover
{
	background: #252E69 url("../images/u1175-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#BEC1D5),color-stop(46%, #252E69));
	background: -webkit-linear-gradient(top,#BEC1D5 ,#252E69 46%);
	background: -moz-linear-gradient(top,#BEC1D5 ,#252E69 46%);
	background: -ms-linear-gradient(top,#BEC1D5 ,#252E69 46%);
	background: -o-linear-gradient(top,#BEC1D5 ,#252E69 46%);
	background: linear-gradient(to bottom,#BEC1D5 ,#252E69 46%);
	border-style: none;
	border-color: transparent;
}

#u1238:active
{
	background: #818395 url("../images/u1175-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(54%, #252E69),to(#818395));
	background: -webkit-linear-gradient(top,#252E69 54%,#818395 );
	background: -moz-linear-gradient(top,#252E69 54%,#818395 );
	background: -ms-linear-gradient(top,#252E69 54%,#818395 );
	background: -o-linear-gradient(top,#252E69 54%,#818395 );
	background: linear-gradient(to bottom,#252E69 54%,#818395 );
	border-style: none;
	border-color: transparent;
}

#u1241-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #252E69;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u1238:hover #u1241-4 p
{
	color: #BEC1D5;
	visibility: inherit;
}

#u1238:active #u1241-4 p
{
	color: #BEC1D5;
	visibility: inherit;
}

#u1231
{
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	border-width: 0px 1px 0px 0px;
}

#u1231:hover
{
	background: #252E69 url("../images/u1175-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#BEC1D5),color-stop(46%, #252E69));
	background: -webkit-linear-gradient(top,#BEC1D5 ,#252E69 46%);
	background: -moz-linear-gradient(top,#BEC1D5 ,#252E69 46%);
	background: -ms-linear-gradient(top,#BEC1D5 ,#252E69 46%);
	background: -o-linear-gradient(top,#BEC1D5 ,#252E69 46%);
	background: linear-gradient(to bottom,#BEC1D5 ,#252E69 46%);
	border-style: none;
	border-color: transparent;
}

#u1231:active
{
	background: #818395 url("../images/u1175-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(54%, #252E69),to(#818395));
	background: -webkit-linear-gradient(top,#252E69 54%,#818395 );
	background: -moz-linear-gradient(top,#252E69 54%,#818395 );
	background: -ms-linear-gradient(top,#252E69 54%,#818395 );
	background: -o-linear-gradient(top,#252E69 54%,#818395 );
	background: linear-gradient(to bottom,#252E69 54%,#818395 );
	border-style: none;
	border-color: transparent;
}

#u1234-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #252E69;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u1231:hover #u1234-4 p
{
	color: #BEC1D5;
	visibility: inherit;
}

#u1231:active #u1234-4 p
{
	color: #BEC1D5;
	visibility: inherit;
}

#u1224
{
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	border-width: 0px 1px 0px 0px;
}

#u1224:hover
{
	background: #252E69 url("../images/u1175-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#BEC1D5),color-stop(46%, #252E69));
	background: -webkit-linear-gradient(top,#BEC1D5 ,#252E69 46%);
	background: -moz-linear-gradient(top,#BEC1D5 ,#252E69 46%);
	background: -ms-linear-gradient(top,#BEC1D5 ,#252E69 46%);
	background: -o-linear-gradient(top,#BEC1D5 ,#252E69 46%);
	background: linear-gradient(to bottom,#BEC1D5 ,#252E69 46%);
	border-style: none;
	border-color: transparent;
}

#u1224:active
{
	background: #818395 url("../images/u1175-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(54%, #252E69),to(#818395));
	background: -webkit-linear-gradient(top,#252E69 54%,#818395 );
	background: -moz-linear-gradient(top,#252E69 54%,#818395 );
	background: -ms-linear-gradient(top,#252E69 54%,#818395 );
	background: -o-linear-gradient(top,#252E69 54%,#818395 );
	background: linear-gradient(to bottom,#252E69 54%,#818395 );
	border-style: none;
	border-color: transparent;
}

#u1227-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #252E69;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u1224:hover #u1227-4 p
{
	color: #BEC1D5;
	visibility: inherit;
}

#u1224:active #u1227-4 p
{
	color: #BEC1D5;
	visibility: inherit;
}

#u1203
{
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	border-width: 0px 1px 0px 0px;
}

#u1203:hover
{
	background: #252E69 url("../images/u1175-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#BEC1D5),color-stop(46%, #252E69));
	background: -webkit-linear-gradient(top,#BEC1D5 ,#252E69 46%);
	background: -moz-linear-gradient(top,#BEC1D5 ,#252E69 46%);
	background: -ms-linear-gradient(top,#BEC1D5 ,#252E69 46%);
	background: -o-linear-gradient(top,#BEC1D5 ,#252E69 46%);
	background: linear-gradient(to bottom,#BEC1D5 ,#252E69 46%);
	border-style: none;
	border-color: transparent;
}

#u1203:active
{
	background: #818395 url("../images/u1175-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(54%, #252E69),to(#818395));
	background: -webkit-linear-gradient(top,#252E69 54%,#818395 );
	background: -moz-linear-gradient(top,#252E69 54%,#818395 );
	background: -ms-linear-gradient(top,#252E69 54%,#818395 );
	background: -o-linear-gradient(top,#252E69 54%,#818395 );
	background: linear-gradient(to bottom,#252E69 54%,#818395 );
	border-style: none;
	border-color: transparent;
}

#u1175.MuseMenuActive,#u1245.MuseMenuActive,#u1238.MuseMenuActive,#u1231.MuseMenuActive,#u1224.MuseMenuActive,#u1203.MuseMenuActive
{
	background-image: none;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-pie-background: none;
	border-width: 0px 1px 0px 0px;
}

#u1206-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #252E69;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u1203:hover #u1206-4 p
{
	color: #BEC1D5;
	visibility: inherit;
}

#u1203:active #u1206-4 p
{
	color: #BEC1D5;
	visibility: inherit;
}

#u1175.MuseMenuActive #u1177-4 p,#u1245.MuseMenuActive #u1248-4 p,#u1238.MuseMenuActive #u1241-4 p,#u1231.MuseMenuActive #u1234-4 p,#u1224.MuseMenuActive #u1227-4 p,#u1203.MuseMenuActive #u1206-4 p
{
	color: #252E69;
	visibility: inherit;
	font-weight: bold;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u286-4
{
	background-color: transparent;
	color: #252E69;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u904-4
{
	background-color: transparent;
	color: #252E69;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u2988-5
{
	background-color: transparent;
	color: #252E69;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u2988
{
	text-decoration: none;
	color: #252E69;
}

#u3021-4
{
	background-color: transparent;
	line-height: 32px;
	color: #252E69;
	font-size: 27px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u71
{
	border-style: none;
	border-color: transparent;
	background-color: #B0B4CE;
	position: relative;
}

#u69_align_to_page,#menuu107,#u1174,#u1242,#u1235,#u1228,#u1221,#u1200,#u71_align_to_page,#u1611-17
{
	position: relative;
}

#u1611-2,#u1611-4,#u1611-6,#u1611-8,#u1611-10,#u1611-12,#u1611-14
{
	text-align: center;
	color: #252E69;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
}

#u188-4
{
	line-height: 14px;
	color: #252E69;
	font-size: 12px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u1614
{
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	background: transparent url("../images/icono%20facebook.jpg") no-repeat left top;
}

#u189-4
{
	background-color: transparent;
	color: #252E69;
	text-align: right;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u1813-4
{
	color: #252E69;
	text-align: right;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u395-4
{
	background-color: transparent;
	color: #252E69;
	text-align: right;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u1577-4
{
	background-color: transparent;
	color: #252E69;
	text-align: right;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u286-4:hover p,#u904-4:hover p,#u2988-5:hover p,#u2988-5:hover a,#u2988-5:hover span,#u3021-4:hover p,#u189-4:hover p,#u395-4:hover p,#u1577-4:hover p
{
	text-decoration: underline;
}

