.html
{
	background-color: #E6E7EF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#u69
{
	z-index: 3;
	width: 1160px;
	padding-bottom: 8px;
	left: -100px;
}

#ppu278
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: -10px;
	left: 110px;
}

#pu278
{
	width: 0.01px;
	margin-left: 11px;
	position: relative;
}

#u278
{
	z-index: 41;
	width: 244px;
	height: 130px;
	margin-right: -10000px;
}

#u285-10
{
	z-index: 42;
	width: 250px;
	min-height: 45px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 334px;
}

#menuu107
{
	z-index: 4;
	width: 779px;
	margin-top: 5px;
}

#u1174
{
	width: 86px;
	min-height: 27px;
	margin-right: -10000px;
}

#u1175
{
	width: 85px;
	padding-bottom: 10px;
}

#u1175:hover
{
	width: 86px;
	min-height: 0px;
	margin: 0px 1px 0px 0px;
}

#u1175:active
{
	width: 86px;
	min-height: 0px;
	margin: 0px 1px 0px 0px;
}

#u1175.MuseMenuActive
{
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u1177-4
{
	width: 38px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
	left: 23px;
}

#u1175:hover #u1177-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1175:active #u1177-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1242
{
	width: 103px;
	min-height: 27px;
	margin-right: -10000px;
	left: 88px;
}

#u1245
{
	width: 102px;
	padding-bottom: 10px;
}

#u1245:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px 1px 0px 0px;
}

#u1245:active
{
	width: 103px;
	min-height: 0px;
	margin: 0px 1px 0px 0px;
}

#u1245.MuseMenuActive
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u1248-4
{
	width: 55px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
	left: 23px;
}

#u1175.MuseMenuActive #u1177-4,#u1245:hover #u1248-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1245:active #u1248-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1235
{
	width: 113px;
	min-height: 27px;
	margin-right: -10000px;
	left: 193px;
}

#u1238
{
	width: 112px;
	padding-bottom: 10px;
}

#u1238:hover
{
	width: 113px;
	min-height: 0px;
	margin: 0px 1px 0px 0px;
}

#u1238:active
{
	width: 113px;
	min-height: 0px;
	margin: 0px 1px 0px 0px;
}

#u1238.MuseMenuActive
{
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u1241-4
{
	width: 65px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
	left: 23px;
}

#u1245.MuseMenuActive #u1248-4,#u1238:hover #u1241-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1238:active #u1241-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1228
{
	width: 235px;
	min-height: 27px;
	margin-right: -10000px;
	left: 308px;
}

#u1231
{
	width: 234px;
	padding-bottom: 10px;
}

#u1231:hover
{
	width: 235px;
	min-height: 0px;
	margin: 0px 1px 0px 0px;
}

#u1231:active
{
	width: 235px;
	min-height: 0px;
	margin: 0px 1px 0px 0px;
}

#u1231.MuseMenuActive
{
	width: 234px;
	min-height: 0px;
	margin: 0px;
}

#u1234-4
{
	width: 188px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
	left: 23px;
}

#u1238.MuseMenuActive #u1241-4,#u1231:hover #u1234-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1231:active #u1234-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1221
{
	width: 118px;
	min-height: 27px;
	margin-right: -10000px;
	left: 545px;
}

#u1224
{
	width: 117px;
	padding-bottom: 10px;
}

#u1224:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px 1px 0px 0px;
}

#u1224:active
{
	width: 118px;
	min-height: 0px;
	margin: 0px 1px 0px 0px;
}

#u1224.MuseMenuActive
{
	width: 117px;
	min-height: 0px;
	margin: 0px;
}

#u1227-4
{
	width: 71px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
	left: 23px;
}

#u1231.MuseMenuActive #u1234-4,#u1224:hover #u1227-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1224:active #u1227-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1200
{
	width: 114px;
	min-height: 27px;
	margin-right: -10000px;
	left: 665px;
}

#u1203
{
	width: 113px;
	padding-bottom: 10px;
}

#u1203:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px 1px 0px 0px;
}

#u1203:active
{
	width: 114px;
	min-height: 0px;
	margin: 0px 1px 0px 0px;
}

#u1203.MuseMenuActive
{
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u1206-4
{
	width: 67px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
	left: 23px;
}

#u1224.MuseMenuActive #u1227-4,#u1203:hover #u1206-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1203:active #u1206-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1203.MuseMenuActive #u1206-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#pu286-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 890px;
}

#u286-4
{
	z-index: 52;
	width: 160px;
	min-height: 21px;
}

#u286-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 0px;
}

#u904-4
{
	z-index: 56;
	width: 160px;
	min-height: 21px;
	margin-top: 3px;
}

#u2988-5
{
	z-index: 98;
	width: 160px;
	min-height: 21px;
	margin-top: 2px;
}

#u2988-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 2px 0px 0px;
}

#u3021-4
{
	z-index: 103;
	width: 160px;
	min-height: 21px;
	margin-top: 3px;
}

#u904-4:hover,#u3021-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 3px 0px 0px;
}

#u1159
{
	z-index: 112;
	width: 960px;
	height: 150px;
	-pie-box-shadow: 3px 3px 4px #CCCCCC;
	-moz-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 3px 3px 4px -1px rgba(0, 0, 0, 0.2);
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 0px 0px 5px 5px ;
	-webkit-border-radius: 0px 0px 5px 5px ;
	-khtml-border-radius: 0px 0px 5px 5px ;
	border-radius: 0px 0px 5px 5px ;
	position: relative;
	background: #FFFFFF url("../images/cotizador%201.jpg") no-repeat left top;
}

#u1637
{
	z-index: 108;
	width: 192px;
	min-height: 28px;
	margin-top: 10px;
}

#pppu1633
{
	width: 0.01px;
	margin-top: 5px;
	position: relative;
}

#ppu1633
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#pu1633
{
	width: 0.01px;
	position: relative;
}

#u1633
{
	z-index: 107;
	width: 215px;
	min-height: 32px;
	margin-right: -10000px;
}

#u1639
{
	z-index: 109;
	width: 121px;
	min-height: 24px;
	margin-right: -10000px;
	left: 179px;
}

#pu1641
{
	width: 0.01px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u1641
{
	z-index: 110;
	width: 300px;
	min-height: 100px;
	margin-right: -10000px;
}

#u3150
{
	z-index: 111;
	width: 300px;
	min-height: 723px;
	margin-right: -10000px;
	margin-top: 50px;
}

#u3189
{
	z-index: 113;
	width: 271px;
	height: 262px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 338px;
	background: transparent url("../images/construccion.png") no-repeat left top;
}

#u3196-4
{
	z-index: 114;
	width: 316px;
	min-height: 138px;
	line-height: 58px;
	color: #333333;
	font-size: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 621px;
}

#pu71
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u71
{
	z-index: 2;
	width: 1160px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u69_align_to_page,#u71_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#pu1611-17
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 111px;
}

#u1611-17
{
	z-index: 76;
	width: 318px;
	min-height: 135px;
	margin-left: 27px;
}

#u188-4
{
	z-index: 60;
	width: 353px;
	min-height: 42px;
	padding-top: 6px;
	margin-top: 4px;
}

#u1614
{
	z-index: 93;
	width: 50px;
	height: 50px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 555px;
}

#pu189-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 841px;
}

#u189-4
{
	z-index: 64;
	width: 126px;
	min-height: 15px;
	margin-left: 83px;
}

#u189-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px 0px 0px 83px;
}

#u1577-4
{
	z-index: 72;
	width: 124px;
	min-height: 17px;
	margin-left: 85px;
	margin-top: 17px;
}

#u1577-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 17px 0px 0px 85px;
}

#u1813-4
{
	z-index: 94;
	width: 209px;
	min-height: 17px;
}

#u395-4
{
	z-index: 68;
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 963px;
}

#u395-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 35px -10000px 0px 0px;
}

